*{
box-sizing: border-box;
padding:0;
margin:0; /*inicializar en 0 el body*/
}
:root{
--fuente: "Merriweather", serif;
--tamaño:15px;
}
body{
background-image:url("imagenes-inicio/double-bubble.png");
}
.contenedor{
background-image:url("imagenes-inicio/double-bubble-dark.png");
color:rgb(224, 224, 224);
width:100%; /* el ancho lo mas que pueda*/
height:100vh; /*vh es viewport height el alto total de la pantalla*/
}
.profile{
width:500px;
height:500px;
margin-left:auto;
margin-right:auto;
}
.profile img{
margin-right:10px;
margin-left:30%;
margin-top:200px;
margin-bottom:50px;
}

.profile ul{ /*lista de perfil*/
margin-left:30%;
list-style:url("imagenes-inicio/icon.png");
font-family:var(--fuente);
font-size: var(--tamaño);
filter: opacity(0.7);
}
.profile ul li{
margin-bottom:30px;
}
.menu{
position: absolute;
right:1%; /*posicionar en cualquier lado una caja*/

}
.menu ul{
list-style: none;
}
.menu ul li{
display:inline-block;
font-family:'Patrick Hand', cursive;
font-size:25px;
padding-left:40px;
}
.menu ul li:hover{
font-size:30px;
transition:0.5s;
}
.profile img{
width:200px;
height:200px;
border-radius:50%;
}
.profile h1{
text-align: center;
font-family:var(--fuente);
font-size:2em;
filter: opacity(0.7);
}
.redes img{
margin-left: 20px;
filter:opacity(.8);
}
.redes{
margin-top:-50px;
position:fixed;
}
.redes img:hover{
transition: 0.8s;
filter:opacity(100%);
}
.content-box{
width:60%;
margin-right: auto;
margin-left: auto;
margin-bottom:50px;
}
.content-box h2{
text-align: center;
font-family:'Patrick Hand', cursive;
font-size:2em;
margin-top:100px;
margin-bottom:50px;
}
.content-box p{
box-shadow:0 2px 5px 2px rgb(0,0,0,.4);
font-family:'Comic Neue', cursive;;
font-size: x-large;
padding:50px;
}
 a{
text-decoration: none;
}
.skills{
    text-align: center;
    font-family:'Patrick Hand', cursive;
    font-size:2em;
    margin-top:100px;
    margin-bottom:50px;
}
.skills ul li{
display: inline-block;
margin-left:40px;
}
.skills ul li img{
width:100px;
height:100px;
filter:opacity(.8);
}
