*{
box-sizing: border-box;
padding:0;
margin:0; /*inicializar en 0 el body*/
}
:root{
--fuente:'Press Start 2P', cursive;
--tamaño:15px;
}
body{
background-image:url("imagenes-inicio/1920x1080-px-8-bit-cave-story-clouds-dragon-Moon-684819-wallhere.com.jpg");
background-repeat:cover;
background-attachment: fixed;
color: #f5f5dc;
}
.contenedor{
background-image:url("imagenes-inicio/illustration-digital-art-video-games-monochrome-pixel-art-minimalism-259864-wallhere.com.jpg");
background-repeat: no-repeat;
background-size:100%;

/*color:rgb(255, 255, 255);*/
width:100%; /* el ancho lo mas que pueda*/
height:100vh; /*vh es viewport height el alto total de la pantalla*/
}
.profile{
width:500px;
height:500px;
margin-left:auto;
margin-right:auto;
}
.profile img{
margin-right:10px;
margin-left:30%;
margin-top:10px;
margin-bottom:10px;
}

.profile ul{ /*lista de perfil*/
margin-left:20%;
list-style-image:url("imagenes-inicio/icons8-space-fighter-16.png"); /*icono a una lista*/
font-family:var(--fuente);
font-size: var(--tamaño);

}
.profile ul li{
margin-bottom:15px;
}
.profile img{
width:200px;
height:200px;
border-radius:50%;
}
.profile h1{
text-align: center;
font-family:var(--fuente);
font-size:1.5em;
margin-top:20px;
margin-left:10px;
}
.redes img{
margin-left: 20px;
filter:opacity(.5);
}
.redes{
margin-top:-50px;
position:fixed;
}
.redes img:hover{
transition: 0.9s;
filter:opacity(100%);
}
hr{
color:beige;
}
.menu{
right:1%; /*posicionar en cualquier lado una caja*/
}
.menu a{
color:beige;
text-decoration:none;
}
.menu ul li{
display:inline-block;
font-family:var(--fuente);
font-size:13px;
padding-left:20px;
list-style-image: url("imagenes-inicio/icon-list.png");

}

    
.menu ul li:hover{
background-color: beige;
border-radius:100px;
color:black;
padding:5px;
transition:0.5s;
animation-duration:2s;
animation-delay:1s;
animation-iteration-count:1s;
}

    

.content-box{
width:60%;
margin-right: auto;
margin-left: auto;
margin-bottom:80px;
}
.content-box h2{
text-align: center;
font-family:var(--fuente);
font-size:2em;
margin-top:100px;
margin-bottom:50px;
}
.content-box p{
font-family:var(--fuente);
font-size:large;
padding:50px;
}

.skills{
text-align: center;
font-family:var(--fuente);
font-size:1em;
}
.skills hr{
    margin-right:40%;
    margin-left:40%; 
    margin-top:30px;
    margin-bottom:30px;
}

.skills ul li{
display: inline-block;
margin-left:40px;
}
.skills ul li img{
width:100px;
height:100px;
filter:opacity(.8);
}

.contactarme{
width:60%;
margin-right: auto;
margin-left: auto;
margin-bottom:50px;
}
.contactarme h2{
    text-align: center;
    font-family:var(--fuente);
    font-size:2em;
    margin-top:100px;
    margin-bottom:50px;
}
.contactarme p{
    font-family:var(--fuente);
    font-size:large;
    padding:50px;
}
ul {
list-style:none;
}
.contacto img{
width:50px;
height:50px;
}
.contacto{
text-align:center;
}
.contacto li{
display:inline-block;
margin-left:50px;
filter: opacity(0.7);
}
.contacto li:hover{
transition: 0.8s;
filter: opacity(1);

}